@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

.navbar{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}

#logo{
    align-self: center;
}

.dropdowns{
    display: flex;
    align-items: left;
}


/* Dropdown */

.dropdown{
    padding: 5px;
    position: relative;
    display: inline-block;
}

.dropdown-cont{
    display: none;
    position: absolute;
    background-color: beige;    
    padding-top: 10px;
    width: 250px;
}

.dropdown:hover .dropdown-cont{
    display: flex;
    flex-direction: column;
}


/* Inner dropdown */

.inner-dropdown{
    position: relative;
    display: flex;

}

.inner-dropdown-text{
    padding: 5px 0 5px 20px;
}

.inner-dropdown-cont{
    display: none;
    position: absolute;
    left: 250px;
    background-color: chocolate;  
    width: 250px;
}

.inner-dropdown:hover .inner-dropdown-cont{
    display: flex;
    flex-direction: column;
}


/* Inner Inner dropdown (pls help) */

.inner-inner-dropdown{
    position: relative;
    display: flex;

}

.inner-inner-dropdown-text{
    padding: 5px 0 5px 20px;
}

.inner-inner-dropdown-cont{
    display: none;
    position: absolute;
    left: 250px;
    background-color: darksalmon;  
    width: 250px;
}

.inner-inner-dropdown:hover .inner-inner-dropdown-cont{
    display: flex;
    flex-direction: column;
}


/* Interaction panel */

.interactions{
    display: flex;
    white-space: nowrap;
    align-items: right;
}

.interactions li{
    padding: 5px;
}

.topic-container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    height: 39px;
    white-space: nowrap;
    justify-content: space-between;
    padding: 5px;

    background-color: grey;
    color: white;

}

.topics {
    display: flex;
    overflow-y: hidden;
    padding: 5px 0px;
}

.topics li{
    width: auto;
    padding: 0px 10px;
    font-size: 14px;
}

.article-container{
    display: flex;
    justify-content: space-between;
    padding: 70px;

}
.title-more{
    color: white;
}

/* MAIN ARTICLES */

.main-articles{
    flex: 3 0 60%;
    background-color: aqua;
    padding: 10px;
}

#spotlight{
    display: flex;
    flex: 1 0 auto;
    min-height: 350px;
    max-width: 100%;
    background-color: red;
}

#spotlight-img-link{
    flex: 3 0 60%;
    display: flex;
}


#spotlight-img{
    background-color: antiquewhite;
    flex: 1 0 auto;
    
}

.spot-textbox{
    display: flex;
    flex-direction: column;
    flex: 2 0 40%;
    max-width: fit-content;
    background-color: beige
    ;
    padding: 10px;
}

.read-more{
    color: green;
}

.articles{
    display: flex;
    flex-direction: column;
}

.article{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    padding: 10px 0 10px 0;
}

.vid-box{
    display: flex;
    flex-direction: column;
    min-height: 322px;
    background-color: gray;
    padding: 10px;
}

.vid-title-wrapper{
    display: flex;
    justify-content: space-between;
}

.vids-cont{
    display: flex;
    overflow-x: scroll;
    flex: 1 0 auto;
    padding-top: 10px;
}

.vids-cont a{
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
}

.vid-thumbnail{
    flex: 1 0 auto;
    background-color: antiquewhite;
}

.vid-title{
    background-color: azure;
}

.vid-date{
    background-color: beige;
}

.side-articles{
    display: flex;
    flex-direction: column;
    flex: 2 0 40%;
    padding: 50px;
    background-color: aquamarine;
}

/* WHAT"S NEW SECTION */

.whats-new-box{
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    background-color: lightblue;

}

.new-card{
    display: flex;
    padding: 25px 0 0 0;
    width: 100%;
    height: 140px;
}

.new-card img{
    min-width: 100px;
    min-height: 100px;
    background-color: antiquewhite;
}

.new-card-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new-card-head{
    flex: 1 0 50%;
    background-color: beige;
}

.new-card-det-cont{
    display: flex;
    flex: 1 0 auto;
    background-color: bisque;
    align-items: flex-end;
    justify-content: end;
}

.view-det{
    color: white;
}


/* QUICK LINKS SECTION */

.quick-links-box{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.quick-links-cont{
    display: flex;
    flex-direction: column;
}

.quick-link{
    display: flex;
}

.quick-link-text{
    color: coral;
    padding-top: 10px;
}


/* FEATURED ARTICLES SECTION */

.feat-art-box{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.feat-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.feat-art-list{
    display: flex;
    flex-direction: column;
}

.feat-art-cont{
    display: flex;
    padding-top: 20px;
}

.feat-art-no{
    background-color: aquamarine;
}

.feat-art-content{
    background-color: greenyellow;    
    padding-left: 10px;
}

.feat-art-head{
    color: darkred;
}

/* RECOMMENDED SECTION */

.recom-box{
    display: flex;
    flex-direction: column;
    padding-top: 50px;

}

.recom-cont{
    display: flex;
    padding-top: 20px;
}

.recom-link{
    display: flex;
}

.recom-link img{
    min-height: 75px;
    min-width: 100px;
    background-color: blanchedalmond;
}

.recom-head{
    background-color: azure;
}

/* FOOTER */

.footer-wrapper{
    display: flex;
    padding: 40px;
}

.gfg-info{
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
}

#socials{
    display: flex;
}

.footer-link-list{
    display: flex;
    flex: 1 0 80%;
}

.footer-link-list li{
    display: flex;
    flex: 1 0 20%;
    flex-direction: column;
}
